<!DOCTYPE html>
<html>
<head>
  <title>OAuth Authentication</title>
</head>
<body>
  <h1>OAuth Authentication</h1>
  <a href="/login/outlook">Login with Outlook</a>
  <a href="<%= gmailAuthUrl %>">Login with Gmail</a>
</body>
</html>
